# **Wine**

### **Step 1. Import the necessary libraries**

In [1]:
import pandas as pd
import numpy as np

### **Step 3. Assign it to a variable called wine**

In [8]:
wine = pd.read_csv('wine.data', header = None)

### **Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns**

In [9]:
wine.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [10]:
wine_drop = wine.drop(columns = [0,3,6,8,10,12,13])
wine_drop.head()

      1     2     4    5     7     9     11
0  14.23  1.71  15.6  127  3.06  2.29  1.04
1  13.20  1.78  11.2  100  2.76  1.28  1.05
2  13.16  2.36  18.6  101  3.24  2.81  1.03
3  14.37  1.95  16.8  113  3.49  2.18  0.86
4  13.24  2.59  21.0  118  2.69  1.82  1.04

### **Step 5. Assign the columns as below:**

1) alcohol
2) malic_acid
3) alcalinity_of_ash
4) magnesium
5) flavanoids
6) proanthocyanins
7) hue

In [11]:
wine_drop.rename(columns = {1:'alcohol', 2:'malic_acid', 4:'alkalinity_of_ash', 5:'magnesium', 7:'flavanoids', 9:'proanthocyanins', 11:'hue'}, inplace = True)

In [13]:
wine_drop.head()

,alcohol,malic_acid,alkalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,14.23,1.71,15.6,127,3.06,2.29,1.04
1,13.20,1.78,11.2,100,2.76,1.28,1.05
2,13.16,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04

### **Step 6. Set the values of the first 3 rows from alcohol as NaN**

In [15]:
wine_drop.loc[0:2, 'alcohol'] = np.nan

### **Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN**

In [19]:
wine_drop.loc[2:3, 'magnesium']= np.nan

In [20]:
wine_drop

,alcohol,malic_acid,alkalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127.0,3.06,2.29,1.04
1,NaN,1.78,11.2,100.0,2.76,1.28,1.05
2,NaN,2.36,18.6,NaN,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,13.24,2.59,21.0,118.0,2.69,1.82,1.04
...,...,...,...,...,...,...,...
173,13.71,5.65,20.5,95.0,0.61,1.06,0.64
174,13.40,3.91,23.0,102.0,0.75,1.41,0.70
175,13.27,4.28,20.0,120.0,0.69,1.35,0.59
176,13.17,2.59,20.0,120.0,0.68,1.46,0.60
177,14.13,4.10,24.5,96.0,0.76,1.35,0.61

### **Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium**

In [21]:
wine_drop['alcohol'].fillna(10, inplace = True)
wine_drop['magnesium'].fillna(100, inplace = True)

### **Step 9. Count the number of missing values**

In [23]:
wine_drop.isna().sum().sum()

0

### **Step 10. Create an array of 10 random numbers up until 10**

In [26]:
rand_array = np.random.randint(0,10, size = 10)

### **Step 11. Use random numbers you generated as an index and assign NaN value to each of cell.**

In [27]:
wine_drop.loc[rand_array] = np.nan

### **Step 12. How many missing values do we have?**

In [31]:
wine_drop.isna().sum()

alcohol              6
malic_acid           6
alkalinity_of_ash    6
magnesium            6
flavanoids           6
proanthocyanins      6
hue                  6
dtype: int64

In [32]:
wine_drop.isna().sum().sum()

42

### **Step 13. Delete the rows that contain missing values**

In [33]:
wine_drop.dropna(inplace = True)

### Step 14. Print only the non-null values in alcohol**

In [37]:
wine_drop[wine_drop['alcohol'].notna()]['alcohol']

2      10.00
3      14.37
5      14.20
9      13.86
10     14.10
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: alcohol, Length: 172, dtype: float64

In [38]:
wine_drop.isna().sum()

alcohol              0
malic_acid           0
alkalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

In [40]:
wine_drop.reset_index(inplace = True)
rand_array = np.random.randint(0,150,size = 50)
wine_drop.loc[rand_array] = np.nan

In [53]:
len(wine_drop['alcohol']) - wine_drop['alcohol'].isna().sum()

133

In [55]:
wine_drop[wine_drop['alcohol'].notna()]['alcohol'] #okay so length of this, 133, is the same as the the other confirmed length of 133. so this does indeed work as expected

0      10.00
1      14.37
2      14.20
3      13.86
4      14.10
       ...
167    13.71
168    13.40
169    13.27
170    13.17
171    14.13
Name: alcohol, Length: 133, dtype: float64