# **Iris**

### **Step 1. Import the necessary libraries**

In [1]:
import pandas as pd
import numpy as np

### **Step 2. Import the dataset. Step 3. Assign it to a variable called iris**

In [6]:
iris = pd.read_csv('iris.data', header = None)
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

### **Step 4. Create columns for the dataset**

In [7]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

iris.rename(columns={0:'sepal_length cm',1:'sepal_width cm',2:'petal_length cm',3:'petal_width cm',4:'class'}, inplace = True)

### **Step 5. Is there any missing value in the dataframe?**

In [8]:
iris.isna().sum()

sepal_length cm    0
sepal_width cm     0
petal_length cm    0
petal_width cm     0
class              0
dtype: int64

In [9]:
#no missing values

### **Step 6. Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN**

In [10]:
iris.loc[10:29, 'petal_length cm'] = np.nan

### **Step 7. Good, now lets substitute the NaN values to 1.0**

In [11]:
iris.loc[8:15]

,sepal_length cm,sepal_width cm,petal_length cm,petal_width cm,class
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa
10,5.4,3.7,NaN,0.2,Iris-setosa
11,4.8,3.4,NaN,0.2,Iris-setosa
12,4.8,3.0,NaN,0.1,Iris-setosa
13,4.3,3.0,NaN,0.1,Iris-setosa
14,5.8,4.0,NaN,0.2,Iris-setosa
15,5.7,4.4,NaN,0.4,Iris-setosa

In [12]:
iris.fillna(1.0, inplace = True)

### **Step 8. Now let's delete the column class**

In [13]:
del iris['class']

### **Step 9. Set the first 3 rows as NaN**

In [15]:
iris.loc[0:2]= np.nan

### **Step 10. Delete the rows that have NaN**

In [18]:
iris.dropna(inplace = True)

### **Step 11. Reset the index so it begins with 0 again**

In [19]:
iris

     sepal_length cm  sepal_width cm  petal_length cm  petal_width cm
3                4.6             3.1              1.5             0.2
4                5.0             3.6              1.4             0.2
5                5.4             3.9              1.7             0.4
6                4.6             3.4              1.4             0.3
7                5.0             3.4              1.5             0.2
..               ...             ...              ...             ...
145              6.7             3.0              5.2             2.3
146              6.3             2.5              5.0             1.9
147              6.5             3.0              5.2             2.0
148              6.2             3.4              5.4             2.3
149              5.9             3.0              5.1             1.8

[147 rows x 4 columns]

In [20]:
iris.reset_index(inplace = True)

In [21]:
iris

     index  sepal_length cm  sepal_width cm  petal_length cm  petal_width cm
0        3              4.6             3.1              1.5             0.2
1        4              5.0             3.6              1.4             0.2
2        5              5.4             3.9              1.7             0.4
3        6              4.6             3.4              1.4             0.3
4        7              5.0             3.4              1.5             0.2
..     ...              ...             ...              ...             ...
142    145              6.7             3.0              5.2             2.3
143    146              6.3             2.5              5.0             1.9
144    147              6.5             3.0              5.2             2.0
145    148              6.2             3.4              5.4             2.3
146    149              5.9             3.0              5.1             1.8

[147 rows x 5 columns]