# **Pokemon**

### **Step 1. Import the necessary libraries**

In [1]:
import pandas as pd
import numpy as np

### **Step 2. Create a data dictionary that looks like the DataFrame below. Step 3. Assign it to a variable called pokemon**

In [6]:
pokemon_dict = {'evolution':['Ivysaur','Charmeleon','Wartortle','Metapod'], 'hp':[45,39,44,45],'name':['Bulbasaur','Charmander','Squirtle','Caterpie'],'pokedex':['yes','no','yes','no'],
                'type':['grass','fire','water','bug']}
pokemon = pd.DataFrame(pokemon_dict)
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### **Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place the order of the columns as name, type, hp, evolution, pokedex**

In [7]:
pokemon = pokemon[['name','type','hp','evolution','pokedex']]

### **Step 5. Add another column called place, and insert what you have in mind.**

In [10]:
pokemon['place'] = ['start','start','start','route']

C:\Users\cs.ABR\AppData\Local\Temp/ipykernel_4516/2696196173.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon['place'] = ['start','start','start','route']

In [11]:
pokemon

         name   type  hp   evolution pokedex  place
0   Bulbasaur  grass  45     Ivysaur     yes  start
1  Charmander   fire  39  Charmeleon      no  start
2    Squirtle  water  44   Wartortle     yes  start
3    Caterpie    bug  45     Metapod      no  route

### **Step 6. Present the type of each column**

In [13]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object