# **Apple Stock**

### **Step 1. Import the necessary libraries**

In [1]:
import pandas as pd
import numpy as np

### **Step 2. Import the dataset. Step 3. Assign it to a variable apple**

In [2]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv'
apple = pd.read_csv(url)
apple.head()

         Date   Open   High    Low  Close    Volume  Adj Close
0  2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1  2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2  2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3  2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4  2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### **Step 4. Check out the type of the columns**

In [3]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8465 entries, 0 to 8464
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       8465 non-null   object
 1   Open       8465 non-null   float64
 2   High       8465 non-null   float64
 3   Low        8465 non-null   float64
 4   Close      8465 non-null   float64
 5   Volume     8465 non-null   int64
 6   Adj Close  8465 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 463.1+ KB

### **Step 5. Transform the Date column as a datetime type**

In [4]:
apple['Date'] = pd.to_datetime(apple['Date'])

### **Step 6. Set the date as the index**

In [5]:
apple.set_index('Date', inplace = True)
apple.sort_index(inplace = True)
apple.head()

             Open   High    Low  Close     Volume  Adj Close
Date
1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45
1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41

### **Step 7. Is there any duplicate dates?**

In [6]:
apple.index.duplicated().sum()

0

there are no duplicate dates

### **Step 8. Ops...it seems the index is from the most recent date. Make the first entry the oldest date.**

In [7]:
#ALREADY did with sort_index()

### **Step 9. Get the last business day of each month**

In [8]:
apple.resample('BM').mean()  #so for business day, use 'BM'

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
1980-12-31,30.481538,30.567692,30.443077,30.443077,2.586252e+07,0.473077
1981-01-30,31.754762,31.826667,31.654762,31.654762,7.249867e+06,0.493810
1981-02-27,26.480000,26.572105,26.407895,26.407895,4.231832e+06,0.411053
1981-03-31,24.937727,25.016818,24.836364,24.836364,7.962691e+06,0.387727
1981-04-30,27.286667,27.368095,27.227143,27.227143,6.392000e+06,0.423333
...,...,...,...,...,...,...
2014-03-31,533.593333,536.453810,530.070952,533.214286,5.954403e+07,75.750000
2014-04-30,540.081905,544.349048,536.262381,541.074286,7.660787e+07,76.867143
2014-05-30,601.301905,606.372857,598.332857,603.195714,6.828177e+07,86.058571
2014-06-30,222.360000,224.084286,220.735714,222.658095,5.745506e+07,91.885714
2014-07-31,94.294000,95.004000,93.488000,94.470000,4.218366e+07,94.470000

### **Step 10. What is the difference in days between the first day and the oldest**

In [9]:
abs(apple.index.values[0] - apple.index.values[len(apple.index)-1]).astype('timedelta64[D]').astype(int)

12261

<div class="alert alert-block alert-warning">
    Another way to do Step 10

In [10]:
(apple.index.max() - apple.index.min()).days

12261

### **Step 11. How many months in the data we have?**

<div class="alert alert-block alert-warning">
   I interpreted this question differently then intended, here is the intended answer

In [11]:
apple_months = apple.resample('BM').mean()

len(apple_months.index)

404

In [12]:
apple.index.month.nunique()

12