Currently on Problem 11

These are Pandas Data Series Excercises coming from https://www.w3resource.com/python-exercises/pandas/index-data-series.php

**Problem 1)**. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [1]:
import numpy as np 
import pandas as pd
sample_series = pd.Series(np.arange(0,100, 10))
print(sample_series)

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int32

**Sample Solution 1.)**

In [4]:
import pandas as pd
ds = pd.Series([2, 4, 6, 8, 10])
print(ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64

**Problem 2)**. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [3]:
sample_list_from_series = list(pd.Series(np.arange(0,100,10)))
print(type(sample_list_from_series))
print(sample_list_from_series)

<class 'list'>
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

**Sample Solution 2.)**

In [6]:
import pandas as pd
ds = pd.Series([2, 4, 6, 8, 10])
print("Pandas Series and type")
print(ds)
print(type(ds))
print("Convert Pandas Series to Python list")
print(ds.tolist())
print(type(ds.tolist()))

Pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
Convert Pandas Series to Python list
[2, 4, 6, 8, 10]
<class 'list'>

**Problem 3.)** Write a Pandas program to add, subtract, multiple and divide two Pandas Series. Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [7]:
series_a = pd.Series([2,4,6,8,10])
series_b = pd.Series([1,3,5,7,9])
a_b_addition = series_a + series_b
a_b_subtraction = series_a - series_b
a_b_multiplication = series_a * series_b
a_b_division = series_a / series_b
print(a_b_addition)
print(a_b_subtraction)
print(a_b_multiplication)
print(a_b_division)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

**Sample Solution 3.)**

In [8]:
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
ds = ds1 + ds2
print("Add two Series:")
print(ds)
print("Subtract two Series:")
ds = ds1 - ds2
print(ds)
print("Multiply two Series:")
ds = ds1 * ds2
print(ds)
print("Divide Series1 by Series2:")
ds = ds1 / ds2
print(ds)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

**Problem 4.)** Write a Pandas program to compare the elements of the two Pandas Series. Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [4]:
import pandas as pd
series_a = pd.Series([2,4,6,8,10])
series_b = pd.Series([1,3,5,7,10])

for a,b in zip(series_a,series_b):
    if a > b:
        print(str(a) + " is greater than " + str(b))
    elif a < b:
        print(str(a) + ' is less than ' + str(b))
    else:
        print(a, ' is equal to ',b)

2 is greater than 1
4 is greater than 3
6 is greater than 5
8 is greater than 7
10  is equal to  10

**Sample Solution 4.)**

In [5]:
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 10])
print("Series1:")
print(ds1)
print("Series2:")
print(ds2)
print("Compare the elements of the said Series:")
print("Equals:")
print(ds1 == ds2)
print("Greater than:")
print(ds1 > ds2)
print("Less than:")
print(ds1 < ds2)

Series1:
0     2
1     4
2     6
3     8
4    10
dtype: int64
Series2:
0     1
1     3
2     5
3     7
4    10
dtype: int64
Compare the elements of the said Series:
Equals:
0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater than:
0     True
1     True
2     True
3     True
4    False
dtype: bool
Less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

**Problem 5.)** Write a Pandas program to convert a dictionary to a Pandas series.
Sample Series:
Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series:
a 100
b 200
c 300
d 400
e 800
dtype: int64

In [8]:
import pandas as pd
dictionary = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
series = pd.Series(dictionary)
print(series)

a    100
b    200
c    300
d    400
e    800
dtype: int64

**Sample Solution 5.)**

In [9]:
import pandas as pd
d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
print("Original dictionary:")
print(d1)
new_series = pd.Series(d1)
print("Converted series:")
print(new_series)

Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [1]:
import pandas as pd
import numpy as np

**Problem 6)** Write a Pandas program to convert a NumPy array to a Pandas series.
NumPy array:
[10 20 30 40 50]

In [3]:
np_array = np.array([10,20,30,40,50])
pd_series = pd.Series(np_array)
pd_series

0    10
1    20
2    30
3    40
4    50
dtype: int32

**Sample Solution 6)**

In [4]:
import numpy as np
import pandas as pd
np_array = np.array([10, 20, 30, 40, 50])
print("NumPy array:")
print(np_array)
new_series = pd.Series(np_array)
print("Converted Pandas series:")
print(new_series)

NumPy array:
[10 20 30 40 50]
Converted Pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int32

<div class="alert alert-block alert-info">
<b>Problem 7) Write a Pandas program to change the data type of given a column or a Series. Go to the editor

Sample Series:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Change the said data type to numeric:
0 100.00
1 200.00
2 NaN
3 300.12
4 400.00
dtype: float64

In [34]:
data = [100,200,'python', 300.12,400]
data_series = pd.Series(data)
print('Changing data type of series to floats')
data_series

Changing data type of series to floats

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [35]:
for elem,index in zip(data_series, data_series.index):
    if type(elem) != float and type(elem) != int:
        data_series[index] = np.nan

In [36]:
data_series

0       100
1       200
2       NaN
3    300.12
4       400
dtype: object

In [38]:
data_series.convert_dtypes()

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [39]:
#okay so combining all my lines of code:
data = [100,200,'python', 300.12,400]
data_series = pd.Series(data)
print('Original data series/n')
print(data_series)
for elem,index in zip(data_series, data_series.index):
    if type(elem) != float and type(elem) != int:
        data_series[index] = np.nan
print('changing data type of series to floats')
print(data_series.convert_dtypes())

Original data series/n
0       100
1       200
2    python
3    300.12
4       400
dtype: object
changing data type of series to floats
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

Thoughts: annoying that I have to use a for loop and conditionals to change values that aren't floats or integers to NaN before I can convert the dtypes of the remaining elements to floats. wonder if the sample solution will provide a better method

In [40]:
import pandas as pd
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s1)
print("Change the said data type to numeric:")
s2 = pd.to_numeric(s1, errors='coerce')
print(s2)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Change the said data type to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

**Thoughts**: so here is a new function, pd.to_numeric() , this appears to be an easy way to convert data types in pd.Series

**Problem 8)** Write a Pandas program to convert the first column of a DataFrame as a Series.

Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 5
2 3 6 8
3 4 9 12
4 7 5 1
5 11 0 11

In [41]:
data_dict = {'col1' : [1,2,3,4,7,11], 'col2' : [4,5,6,9,5,0], 'col3' : [7,5,8,12,1,11]}
data = pd.DataFrame(data_dict)
data_col1_series = pd.Series(data['col1'])
data_col1_series

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

**sample solution 8)**

In [42]:
import pandas as pd
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
s1 = df.ix[:,0]
print("\n1st column as a Series:")
print(s1)
print(type(s1))

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

AttributeError: 'DataFrame' object has no attribute 'ix'

Thoughts: the sample solution uses a function that is depreciated, df.ix

**Problem 9)** Write a Pandas program to convert a given Series to an array.

In [45]:
#data
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])

print('converting s1 to array1')
array1 = np.array(s1)
print(array1)

converting s1 to array1
['100' '200' 'python' '300.12' '400']

**Sample solution 9)**

In [46]:
import pandas as pd
import numpy as np
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s1)
print("Series to an array")
a = np.array(s1.values.tolist())
print (a)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Series to an array
['100' '200' 'python' '300.12' '400']

<div class="alert alert-block alert-info">
<b>Problem 10)

Write a Pandas program to convert Series of lists to one Series.
Sample Output:
Original Series of list
0 [Red, Green, White]
1 [Red, Black]
2 [Yellow]
dtype: object
One Series
0 Red
1 Green
2 White
3 Red
4 Black
5 Yellow

In [47]:
list1 = [['Red', 'Green', 'White'], ['Red', 'Black'], ['Yellow']]
series1 = pd.Series(list1)
series1

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [50]:
list2 = []
for sub_list in series1:
    for elem in sub_list:
        list2.append(elem)
series2 = pd.Series(list2)
series2

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [55]:
series1[0][0]

'Red'

Thoughts: I do not like resorting to using for loops, but that is my initial solution, lets see what insights the sample solution will give

**Sample Solution 10)**

In [4]:
import pandas as pd
s1 = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print("Original Series of list")
print(s1)
s2 = s1.apply(pd.Series).stack().reset_index(drop=True)
print("One Series")
print(s2)

Original Series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
One Series
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

**Thoughts:** the sample solution is very interesting. so they are using .stack() to take each element in each sub_list in s1 and make it into a series, while haaving the index reset to make the index more managable. very interesting. 

!NOTICE! stack() here is a function in the pandas library, NOT base python stack.   i.e. df.stack()